<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessABTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ProcessABTest.Properties.Settings>
            <setting name="ProcessABTest_UNICA_API_IntApi" serializeAs="String">
                <value>http://u-flow.advantech.com.tw/Services/IntApi.asmx</value>
            </setting>
        </ProcessABTest.Properties.Settings>
    </applicationSettings>
</configuration>