<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SyncInvalidEmail.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SendGridUID" value="azure_7667062a9cee64f8e2ca3b1677ad3af8@azure.com"/>
    <add key="SendGridPWD" value="70s1plKlBBGyYGh"/>
    <add key="SendGridUID1" value="azure_5d67f099ecadfc513af741ac374d127c@azure.com"/>
    <add key="SendGridPWD1" value="d8531GHbV57wBnu"/>
    <add key="ExcuteDate" value="2016/1/14"></add>
    <add key="WebpowerUser" value="frank.chung"/>
    <add key="WebpowerPwd" value="Mejpeltkj8."/>
  </appSettings> 
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SyncInvalidEmail.My.MySettings>
            <setting name="SyncInvalidEmail_EC_EC" serializeAs="String">
                <value>http://aeu-ebus-dev:7000/Services/EC.asmx</value>
            </setting>
            <setting name="SyncInvalidEmail_myadvan_global_EC" serializeAs="String">
                <value>http://172.20.1.31:7000/Services/EC.asmx</value>
            </setting>
        </SyncInvalidEmail.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>                
                  <binding name="DMdeliverySoapAPIBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                    <security mode="Transport"/>
                </binding>
                <binding name="DMdeliverySoapAPIBinding1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://advantech-smtp.webpower.asia/x/soap-v4.1/server.php" binding="basicHttpBinding" bindingConfiguration="DMdeliverySoapAPIBinding" contract="WebpowerService.DMdeliverySoapAPIPort" name="DMdeliverySoapAPIPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
